<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
        
        <link rel="stylesheet" href="/CssBootstrap/css/bootstrap.min.css">

        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>

        {{> header}}

        {{{body}}}

        {{> footer}}

    </body>
    
    <script src="/CssBootstrap/js/jquery3.5.1.min.js"></script>
    <script src="/CssBootstrap/js/popper.min.js"></script>
    <script src="/CssBootstrap/js/bootstrap.min.js"></script>
    
</html>